//asegurar de importarlo en los estilos

.journal__main-content {
    display: flex;
}

.journal__sidebar {
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column; //columnas
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}

.journal__sidebar-navbar {
    display: flex;
    justify-content: space-between;
}

.journal__sidebar-navbar h3 { // todo lo que sea h3 tendra este estilo
    font-weight: lighter;
}

.journal__new-entry {
    align-items: center;
    cursor: pointer; // para que parezca que se puede dar click enel
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;

    transition: color .3s ease; // animacion del color

    &:hover {
        color: darken($color: white, $amount: 20); // cambia de color cuando el cursor esta sobre el
    }
    
}

.journal__entries { //scroll bar mas llamativo
    margin-top: 30px;
    overflow: auto;
 
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: #ccc;
    }
 
    &::-webkit-scrollbar:vertical {
        width: 8px;
    }
 
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
 
    &::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
    }
} // lo que sea que se pase lo pueda recorrer con el scroll


.journal__entry {
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}

.journal__entry-picture {
    height: 75px;
    width: 75px;
}


.journal__entry-body { // para el cuerpo de cada entry
    padding: 10px;
}

.journal__entry-title { // para el title de cada entry
    font-size: 14px;
    font-weight: bold;
}

.journal__entry-content { //para el contenido del entry
    font-size: 10px;
}

.journal__entry-date-box { // para la fecha de cada entry
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.journal__entry-date-box span{ // estilo de los span
    font-size: 12px;
}
